@import '../variables', '../mixins', '../breakpoints';

.react-confirm-alert {
	margin: 0 2rem;
}

body.react-confirm-alert-body-element {
	overflow: hidden;
}

.react-confirm-alert-overlay {
	@include overlay;
}

.react-confirm-alert-body {
	@include textL;
	@include modal;
	@include modalFadeIn(fadeIn);
	animation: fadeIn 0.4s forwards;
	color: $light-primary-gray;
	margin: 0;

	@include md {
		font-size: $font-size-m;
	}
}

.react-confirm-alert-svg {
	position: absolute;
	top: 0;
	left: 0;
}

.react-confirm-alert-body > h1 {
	@include headingXl;
	color: $light-primary-red;
	margin-bottom: 1rem;

	@include md {
		@include headingMd;
	}
}

.react-confirm-alert-body > h3 {
	margin: 0;
	font-size: 16px;
}

.react-confirm-alert-button-group {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	margin-top: 1.5rem;
}

.react-confirm-alert-button-group > button {
	@include textL;
	outline: none;
	border: none;
	display: inline-block;
	padding: 10px;
	border-radius: 30px;
	width: 100%;
	font-weight: 700;
	cursor: pointer;
	transition: $ease-1;

	@include md {
		font-size: $font-size-m;
		padding: 5px;
	}

	&:first-child {
		background: $light-primary-red;
		color: $light-primary-white;

		&:hover {
			background: $light-secondary-red;
		}
	}

	&:last-child {
		background: rgba($light-primary-purple, 0.1);
		color: $light-primary-purple;

		&:hover {
			background: rgba($light-primary-purple, 0.25);
		}
	}
}
