@import '@styles/scss/variables', '@styles/scss/mixins',
	'@styles/scss/breakpoints';

.kanban__header {
	height: 96px;
	background-color: $primary-white;
	position: fixed;
	width: 100%;
	z-index: 100;
	border-bottom: 1px solid darken($color: $secondary-gray, $amount: 5%);

	.kanban__header-logo {
		height: 100%;
		display: flex;
		align-items: center;
		position: absolute;
		left: 40px;
		padding-right: 2rem;

		img {
			pointer-events: none;

			@include md {
				width: 100px;
			}
		}

		@include lg {
			left: 20px;
		}

		@include md {
			display: none;
		}
	}

	.kanban__header-logo_no-sidebar {
		border-right: 1px solid darken($color: $secondary-gray, $amount: 5%);

		img {
			pointer-events: none;
		}
	}

	.kanban__header-container {
		margin-left: 300px;
		padding: 0 2rem;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		transition: $ease-3;

		@include lg {
			margin-left: 260px;
		}

		@include md {
			padding: 0 1.5rem;
		}

		.kanban__header-board_name {
			@include headingXl;
			width: 50%;
		}

		.kanban__header-board_name-hide {
			display: none;
		}

		.kanban__header-board_actions {
			display: flex;
			position: relative;
			align-items: center;

			svg {
				margin-right: 0.2rem;
			}

			.kanban__header-board_actions-add_small {
				background-color: $primary-purple;
				margin-right: 1rem;
				border-radius: 50%;
				color: $primary-white;
				cursor: pointer;

				svg {
					margin: 0;
				}

				@include lg {
					padding: 12px;
					border-radius: 50%;
					width: 40px;
					height: 40px;
				}
			}

			button {
				@include buttonPrimary;
				display: flex;
				align-items: center;
				margin-right: 1rem;

				img {
					margin-right: 0.5rem;
				}
			}

			.kanban__header-board_actions-menu {
				display: flex;
				align-items: center;

				img {
					cursor: pointer;
				}
			}

			.kanban__header-board_dropdown {
				position: absolute;
				top: 120%;
				right: 0;
				min-width: 200px;
				padding: 20px 15px;
				background-color: $primary-white;
				box-shadow: 0px 0 10px -2px rgba(0, 0, 0, 0.2);
				border-radius: 8px;
				color: $primary-gray;
				@include headingMd;
				font-weight: 500;

				ul {
					padding: 0;
					width: 100%;

					li {
						width: fit-content;
						display: flex;
						align-items: center;
						margin-bottom: 1rem;
						transition: $ease-1;
						cursor: pointer;

						&:hover {
							color: $primary-purple;
						}

						svg {
							margin-right: 10px;
						}

						&:nth-child(2) {
							&:hover {
								color: $primary-red;
							}
						}

						&:last-child {
							margin-bottom: 0;
							color: $primary-red;

							&:hover {
								color: darken($primary-red, 10%);
							}
						}
					}
				}
			}

			.kanban__header-board_dropdown-hide {
				display: none;
			}
		}

		.kanban__header-board_actions-sidebar {
			justify-content: flex-end;
			width: 100%;
		}
	}

	.kanban__header-container_no-sidebar {
		margin-left: 230px;

		@include lg {
			margin-left: 200px;
		}

		@include md {
			margin-left: 0;
		}
	}
}
