@import '../variables', '../mixins', '../breakpoints';

.kanban__main-content {
	height: 100vh;
	padding-left: 10px;
	padding-top: 106px;
	z-index: -1;
}

.kanban__main-content_sidebar {
	padding-left: 305px;

	@include lg {
		padding-left: 265px;
	}
}
