@import '../variables', '../mixins', '../breakpoints';

.kanban__main-content {
	height: 100vh;
	padding-left: 40px;
	padding-top: 116px;
	z-index: -1;

	@include lg {
		padding-left: 20px;
	}
}

.kanban__main-content_sidebar {
	padding-left: 330px;

	@include lg {
		padding-left: 290px;
	}
}
