@import '@styles/scss/variables', '../breakpoints';

.kanban__show-sidebar {
	background-color: $primary-purple;
	position: fixed;
	left: 0;
	bottom: 3rem;
	padding: 20px;
	border-radius: 0px 100px 100px 0px;
	cursor: pointer;
	color: $primary-white;

	svg {
		font-size: 20px;
	}
}
