@import '../variables', '../mixins', '../breakpoints';

.kanban__sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
	background-color: #fff;
	transition: $ease-1;
	z-index: 100;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	color: $primary-gray;

	.kanban__sidebar-boards_container {
		margin-top: 110px;

		h1 {
			@include headingSm;
			letter-spacing: 2.4px;
			margin-bottom: 20px;
			padding-left: 40px;
			text-transform: uppercase;
		}
	}

	.kanban__sidebar-bottom_container {
		width: 100%;
		margin-bottom: 3rem;
		display: flex;
		flex-direction: column;

		.kanban__sidebar-toggle {
			background-color: $secondary-gray;
			margin: 0 1rem 1rem 1rem;
			padding: 1rem;
			display: flex;
			justify-content: space-around;
			align-items: center;
			border-radius: 6px;
		}

		.kanban__sidebar-hide {
			display: flex;
			padding: 1rem 1.5rem;
			margin-right: 1rem;
			border-radius: 0px 100px 100px 0px;
			@include headingMd;

			&:hover {
				background-color: rgba($secondary-purple, 0.1);
				color: $primary-purple;

				img {
					filter: brightness(0) saturate(100%) invert(31%) sepia(97%)
						saturate(771%) hue-rotate(215deg) brightness(94%) contrast(82%);
				}
			}

			img {
				margin-right: 1rem;
			}

			p {
				cursor: pointer;
			}
		}
	}
}
