@import '../variables.scss', '../breakpoints.scss';

.kanban__sidebar-switch_container {
	display: flex;
	width: 90%;
	justify-content: space-between;
	align-items: center;

	svg {
		position: relative;
		top: -0.25rem;
		font-size: 1.2rem;

		@include md {
			top: 0;
		}

		&:first-child {
			margin-right: -0.25rem;
		}
	}

	.kanban__sidebar-switch {
		position: relative;
		width: 50px;
		height: 27px;

		@include md {
			top: 0.25rem;
		}

		input {
			opacity: 0;
			width: 0;
			height: 0;

			&:checked + .slider {
				background-color: $light-secondary-purple;
			}

			&:focus + .slider {
				box-shadow: 0 0 1px $light-secondary-purple;
			}

			&:checked + .slider:before {
				-webkit-transform: translateX(26px);
				-ms-transform: translateX(26px);
				transform: translateX(26px);
			}
		}

		.slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: -4px;
			bottom: 0;
			background-color: $light-primary-purple;
			-webkit-transition: 0.4s;
			transition: 0.4s;

			&:before {
				position: absolute;
				content: '';
				height: 20px;
				width: 20px;
				left: 4px;
				bottom: 4px;
				background-color: white;
				-webkit-transition: 0.4s;
				transition: 0.4s;
			}
		}

		.round {
			border-radius: 34px;

			&:before {
				border-radius: 50%;
			}
		}
	}
}
