@import '../../variables', '../../mixins', '../../breakpoints';

.kanban__add-task-subtasks_container {
	p {
		@include headingSm;
		color: $primary-gray;

		&:first-child {
			margin-bottom: 1rem;
		}
	}
}

.kanban__add-task_subtasks-container_update {

	p {
		@include headingSm;
		color: $primary-gray;

		&:first-child {
			margin-bottom: 1rem;
		}
	}

	.kanban__add-task_subtasks-btn {
		@include buttonSecondary;
		@include headingMd;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-bottom: 1rem;

		svg {
			margin-right: 0.25rem;
		}
	}
}

.kanban__add-task_heading {
	display: flex;
	flex-direction: column;

	.kanban__task-title_container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 1rem;

		h3 {
			@include headingXl;
		}

		svg {
			@include headingLg;
			color: $primary-gray;
			cursor: pointer;
		}

		.kanban__add-task_dropdown {
			@include headingSm;
			position: absolute;
			top: 90px;
			right: 36px;
			min-width: 150px;
			padding: 20px 15px;
			background-color: $primary-white;
			box-shadow: 0px 0 10px -2px rgba(0, 0, 0, 0.2);
			border-radius: 8px;
			color: $primary-gray;
			font-weight: 500;

			ul {
				padding: 0;

				li {
					width: fit-content;
					display: flex;
					align-items: center;
					margin-bottom: 1rem;
					cursor: pointer;

					svg {
						margin-right: 0.5rem;
						font-size: $font-size-l;
						position: relative;
						bottom: 1px;
					}

					&:hover {
						color: $primary-purple;
					}
				}

				li:last-child {
					margin-bottom: 0;
					&:hover {
						color: $primary-red;
					}
				}
			}
		}
	}

	.kanban__add-task_description {
		@include textL;
		color: $primary-gray;
		margin-bottom: 1rem;
	}

	input[type='text'],
	textarea,
	select {
		margin-bottom: 1rem;
		font-size: $font-size-l;
	}

	.kanban__add-task_input-error {
		@include inputTextError;
		@include inputError(shake);
		border: 1px solid $primary-red;
		animation: shake $ease-2;
	}

	textarea {
		@include inputTextArea;
		border: 1px solid rgba($primary-gray, 0.25);
		min-height: 100px;
	}

	select {
		@include inputSelect;
		border: 1px solid rgba($primary-gray, 0.25);
	}
}

.kanban__add-task_status-container {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
}
