@import '../../variables.scss', '../../mixins.scss', '../../breakpoints.scss';

.kanban__add-task_subtask-input {
	display: flex;
	margin-right: 1rem;

	input {
		width: 100%;
	}
}

.kanban__add-task_subtask-input_disabled {
	background-color: rgba($light-primary-gray, 0.15);
	color: $light-primary-gray;
	border: 1px solid rgba($light-secondary-gray, 0.15);
}

.kanban__add-task_remove-icon {
	position: relative;
	top: 12px;
	margin-left: 0.5rem;
	color: $light-primary-gray;
	cursor: pointer;
}
