.kanban__auth-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  margin-left: 2rem;
}
@media screen and (max-width: 550px) {
  .kanban__auth-register {
    margin-left: 0;
    padding: 0 1rem;
  }
}
.kanban__auth-register .kanban__auth-register_heading {
  width: 100%;
  margin-top: 3rem;
  font-size: 15px;
  line-height: 19px;
  font-weight: 700;
}
@media screen and (max-width: 550px) {
  .kanban__auth-register .kanban__auth-register_heading {
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    kerning: 2.4px;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .kanban__auth-register .kanban__auth-register_heading {
    text-align: left;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    kerning: 2.4px;
  }
}
.kanban__auth-register .kanban__auth-register_heading h1 {
  margin-bottom: 1rem;
}
.kanban__auth-register .kanban__auth-register_heading p {
  color: #828fa3;
  font-size: 15px;
  line-height: 19px;
  font-weight: 700;
  font-weight: 400;
}
@media screen and (max-width: 480px) {
  .kanban__auth-register .kanban__auth-register_heading p {
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    kerning: 2.4px;
    font-weight: 400;
  }
}
.kanban__auth-register .kanban__auth-register_form {
  width: 100%;
  height: 100%;
  padding: 2rem 4rem 0 0;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
@media screen and (max-width: 768px) {
  .kanban__auth-register .kanban__auth-register_form {
    padding: 2rem 0;
  }
}
@media screen and (max-width: 550px) {
  .kanban__auth-register .kanban__auth-register_form {
    padding: 2rem 0 0 0;
  }
}
.kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-inputs_wrapper {
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-inputs_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0;
  }
}
.kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-inputs_wrapper .kanban__auth-register_form-input {
  width: 100%;
}
.kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-input {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
.kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-input label {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  kerning: 2.4px;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-input .kanban__auth-register_form-input_password-wrapper {
  position: relative;
}
.kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-input .kanban__auth-register_form-input_password-wrapper .kanban__auth-register_form-input_password-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
.kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-input .kanban__auth-register_form-input_password-wrapper input {
  width: 100%;
}
.kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-input input {
  padding: 6px 12px;
  background-color: #ffffff;
  outline: none;
  border-radius: 4px;
  border: 1px solid #828fa3;
  color: #000112;
  border: 1px solid #bdc4ce;
}
.kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-input input::-webkit-input-placeholder {
  color: #000112;
  opacity: 0.25;
}
.kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-input input::-moz-placeholder {
  color: #000112;
  opacity: 0.25;
}
.kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-input input:-ms-input-placeholder {
  color: #000112;
  opacity: 0.25;
}
.kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-input input::-ms-input-placeholder {
  color: #000112;
  opacity: 0.25;
}
.kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-input input::placeholder {
  color: #000112;
  opacity: 0.25;
}
@media screen and (max-width: 550px) {
  .kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-input input {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-input input {
    width: 100%;
  }
}
.kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-input .kanban__auth-register_form-input_error {
  padding: 6px 12px;
  background-color: #ffffff;
  outline: none;
  border-radius: 4px;
  border: 1px solid #828fa3;
  color: #000112;
  border: 1px solid #ea5555;
}
.kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-input .kanban__auth-register_form-input_error::-webkit-input-placeholder {
  color: #000112;
  opacity: 0.25;
}
.kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-input .kanban__auth-register_form-input_error::-moz-placeholder {
  color: #000112;
  opacity: 0.25;
}
.kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-input .kanban__auth-register_form-input_error:-ms-input-placeholder {
  color: #000112;
  opacity: 0.25;
}
.kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-input .kanban__auth-register_form-input_error::-ms-input-placeholder {
  color: #000112;
  opacity: 0.25;
}
.kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-input .kanban__auth-register_form-input_error::placeholder {
  color: #000112;
  opacity: 0.25;
}
.kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding-right: 4rem;
}
@media screen and (max-width: 768px) {
  .kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding-right: 0;
  }
  .kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-btn button {
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 550px) {
  .kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-btn {
    position: relative;
    margin-top: 2rem;
  }
  .kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-btn button {
    display: block;
    width: 100%;
  }
}
.kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-btn button {
  padding: 12px 32px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 24px;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  background-color: #635fc7;
  color: #ffffff;
  padding: 0.5rem 3rem;
  background-color: #483eff;
  border-radius: 5px;
}
.kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-btn button:hover {
  background-color: #a8a4ff;
}
.kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 550px) {
  .kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-register {
    font-size: 12px;
  }
}
.kanban__auth-register .kanban__auth-register_form .kanban__auth-register_form-register a {
  color: #635fc7;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  kerning: 2.4px;
  font-weight: 500;
  text-decoration: none;
}