button {
  padding: 12px 32px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 24px;
  background-color: #635fc7;
  color: #ffffff;
}
button:hover {
  background-color: #a8a4ff;
}