@import './variables.scss', './breakpoints.scss', './mixins.scss';

.kanban__input-error {
	@include headingSm;
	@include inputErrorMessage(fadeIn);
	padding: 0.2rem 0;
	font-weight: 500;
	color: $primary-red;
	animation: fadeIn $ease-1;
}
