@import '../variables', '../breakpoints', '../mixins';

.kanban__auth-login {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	margin-left: 2rem;

	// Media queries
	@include lg {
		margin-left: 0;
		padding: 0;
	}

	@include md {
		padding: 0 1rem;
	}

	.kanban__auth-login_heading {
		width: 100%;
		margin-top: 3rem;
		margin-bottom: 2rem;
		@include headingLg;

		// Media queries
		@include md {
			@include headingMd;
			margin-bottom: 0.5rem;
		}

		@include sm {
			text-align: left;
			@include headingSm;
		}

		h1 {
			margin-bottom: 1rem;
		}

		p {
			color: $light-primary-gray;
			@include headingMd;
			font-weight: 400;

			// Media queries
			@include sm {
				@include headingSm;
				font-weight: 400;
			}
		}
	}

	.kanban__auth-login_form {
		width: 100%;
		height: 100%;
		padding: 4rem 4rem 0 0;
		font-weight: 500;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include lg {
			padding: 2rem 1rem 0 0;
		}

		@include md {
			padding: 2rem 0;
		}

		.kanban__auth-login_form-input {
			display: flex;
			flex-direction: column;
			align-items: left;
			margin-bottom: 1rem;

			// Media queries
			label {
				@include headingSm;
				font-weight: 400;
				margin-bottom: 0.5rem;
			}

			.kanban__auth-login_form-input_password-wrapper {
				position: relative;

				.kanban__auth-login_form-input_password-icon {
					position: absolute;
					top: 50%;
					right: 1rem;
					transform: translateY(-50%);
					cursor: pointer;
				}

				input {
					width: 100%;
				}
			}

			input {
				@include inputText;
				border: 1px solid lighten($light-primary-gray, 20%);

				// Media queries
				@include md {
					width: 100%;
				}

				@include sm {
					width: 100%;
				}
			}

			.kanban__auth-login_form-input_error {
				@include inputTextError;
				@include inputError(shake);
				animation: shake $ease-2;
			}
		}

		.kanban__auth-login_form-btn {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;

			// Media queries
			@include lg {
				flex-direction: column-reverse;
				text-align: center;

				button {
					margin-bottom: 1rem;
				}
			}

			@include md {
				position: relative;
				margin-top: 2rem;

				button {
					display: block;
					width: 100%;
				}
			}

			button {
				@include buttonPrimary;
				padding: 0.5rem 3rem;
				background-color: #483eff;
				border-radius: 5px;
			}
		}

		.kanban__auth-login_form-register {
			display: flex;

			a {
				color: $light-primary-purple;
				@include headingSm;
				font-weight: 500;
				text-decoration: none;
				margin-left: 0.5rem;
			}
		}
	}
}

.kanban__auth-login_dark {
	@extend .kanban__auth-login;

	label {
		color: $light-primary-white !important;
	}

	input {
		background-color: $dark-primary-gray !important;
		color: $light-primary-white !important;
		border: 1px solid rgba($light-secondary-gray, 0.15) !important;

		&::placeholder {
			color: $light-primary-white !important;
		}
	}
}
